.tile-wrapper {
  min-height: 125px;
  background-color: white;
  padding: 15px 30px;

  .title {
    color: #474896;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
  }
}
